spec:
  replicas: 1
  template:
    spec:
      containers:
        - env:
          - name: AMQP_SERVICE_NAME
            value: messaging-enmasse.192.168.64.1.nip.io
          - name: AMQP_USERNAME
            value: admin
          - name: AMQP_PASSWORD
            value: admin
          - name: AMQP_PARAMETERS
            value: transport.trustAll=true&transport.verifyHost=false&amqp.idleTimeout=120000
