spec:
  replicas: 1
  template:
    spec:
      containers:
        -
          resources:
            requests:
              cpu: "0.2"
              memory: 128Mi
            limits:
              cpu: "1.0"
              memory: 512Mi
          env:
          - name: AMQP_USERNAME
            value: admin
          - name: AMQP_PASSWORD
            value: test
          - name: AMQ_CAMEL_SERVICE_NAME
            valueFrom:
              configMapKeyRef:
                name: karaf-camel-amq-protocol
                key: service.host
          - name: AMQ_CAMEL_SERVICE_PORT_AMQPS
            valueFrom:
              configMapKeyRef:
                name: karaf-camel-amq-protocol
                key: service.port.amqps
          - name: AMQ_CAMEL_SERVICE_PORT_AMQP
            valueFrom:
              configMapKeyRef:
                name: karaf-camel-amq-protocol
                key: service.port.amqp
          - name: AMQ_CAMEL_PARAMETERS
            value: transport.trustAll=true&transport.verifyHost=false&amqp.idleTimeout=120000
          - name: AMQ_PROTOCOL
            valueFrom:
              configMapKeyRef:
                name: karaf-camel-amq-protocol
                key: service.protocol
